/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container{
    margin-left: 6rem;
    margin-right: 6rem;
  }
nav {
  text-align: center;
}
.button1 {
    background-color: #FF764E;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    margin: 5%;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    width: 15rem;
  }
  .button2 {
    background-color: #5ED3EB;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    margin: 5%;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    width: 15rem;
  }
  .button3 {
    background-color: #FFCD69;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    margin: 5%;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    width: 15rem;
  }
  header{
    display: inline-block;
    margin: auto;
    margin-left: 10rem;
  }
  h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
  }

  .header_info { 
    margin: auto;
    width: auto;
    margin-top: 7rem;
    margin-left: 5rem;
    margin-left: 25rem;
  }
  
  .header_info_1{
    font-size: 1.5rem;
    width: 50rem;
    margin: auto;
    padding: 1rem;
    margin-left: 25rem;
  }

  .header_info_2{
    font-size: 1.5rem;
    width: 30rem;
    text-align: center;
    margin-left: 30rem;
    padding: 1rem;
  }

header img{
  margin-top: 5%;
  border-radius: 50%;
  max-width: 25%;
  float: left;
}
p{
  font-family: 'Roboto Mono', monospace;
}
img {
  transition: transform 0.8s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}
.main_text_body {
  display: block;
  background-color: #DDB9A3;
  color: white;
  padding: 1.3rem;
  font-size: 1.5rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  text-align: center;
  margin-top: 3rem;
}
.things_to_know {
  text-align: center;
  display: block;
}
.things_to_know img {
  max-width: 15%;
  margin-top: 3rem;
}
.things_to_know p {
  max-width: 25%;
  text-align: center;
  margin: auto;
}
footer{
  background-color: #F9E7DC;
  margin-top: 6rem;
  width: 100%;
}
footer img{
  max-height: 15.625rem;
  width: 100%;
}